/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    font-family: 'IBM Plex Sans';
    @apply bg-slate-50;
}

.main-menu-text {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.opn-sta-text {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
}

.opn-sta-text-under {
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
}

.red-text {
    color: #D44244;
}

.red-background {
    background-color: #D44244;
}

.dark-red-background {
    background-color: #950000;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}
