@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
    background: #ffffff;
    font-family: 'Lora', serif;
    @apply bg-gray-100;
}

h1 {
    font-family: 'Sansita Swashed', cursive;
    @apply lg:text-6xl text-5xl font-bold text-main
}

.menu-header {
    font-family: 'Sansita Swashed', cursive;
    @apply lg:text-6xl md:text-5xl text-4xl font-bold text-main
}

h2 {
    font-family: 'Sansita Swashed', cursive;
    @apply text-3xl font-bold text-main
}

h3 {
    font-family: 'Lora', serif;
    @apply text-lg md:text-2xl font-semibold text-slate-900
}

h4 {
    font-family: 'Sansita Swashed', cursive;
    @apply text-2xl text-white 
}

p {
    font-family: 'Lora', serif;
    @apply text-base md:font-normal text-slate-900
}

.label {
    font-family: 'Lora', serif;
    @apply block text-white text-base font-normal 
}

.link {
    @apply text-base lg:text-lg font-medium cursor-pointer hover:text-main duration-100 ease-in-out;
}

.menu-item-header {
    @apply text-sm md:text-lg text-main text-left font-semibold;
}

.menu-item-description {
    font-size: 0.500rem;
    line-height: 1.2rem;
    @apply min-[325px]:text-[0.700rem] min-[437px]:text-xs md:text-sm;
}

.menu-item-price {
    font-size: 0.500rem;
    line-height: 1rem;
    @apply min-[325px]:text-[0.700rem] min-[437px]:text-xs md:text-sm text-main font-medium;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.scroll-margin {
    scroll-margin-top: 5px;
}

ul.leaders {
    max-width: 40em;
    padding: 0;
    overflow-x: hidden;
    list-style: none;
    @apply text-sm md:text-base text-zinc-600; 
}

ul.leaders {
    
    padding: 0;
    overflow-x: hidden;
    list-style: none;
    @apply text-xs md:text-base text-zinc-600; 
}

ul.leaders li:after {
    float: left;
    width: 0;
    white-space: nowrap;
    content:
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
 ". . . . . . . . . . . . . . . . . . . . "
}

ul.leaders span:first-child {
    padding-right: 0.33em;
    background-color: #ffffff;
    @apply bg-slate-50;
}
ul.leaders span + span {
    float: right;
    padding-left: 0.33em;
    background-color: #ffffff;
    @apply bg-slate-50;
    position: relative;
    z-index: 1
}